.navbar-brand {
  background-image: url('../images/pepKreis.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 34px;
}


/* CAROUSEL */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {  /* Since positioning the image, we need to help out the caption */
  z-index: 10;
}

.carousel .item {  /* Declare heights because of positioning of img element */
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}


/* RESPONSIVE CSS */
@media (min-width: 768px) {
  .carousel-caption p {  /* Bump up size of carousel content */
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
