---
title: PeP et al. e.V.
layout: default
landing: true
---
{% assign special = site.categories.special[0] %}
{% assign index = 0 %}

<div class="banner" id="banner">
  <h2>{{ special.special-title }}</h2>
  <p>{{ special.special-subtitle }}</p>
  {% if special.special-action %}
  <a href="{{ site.categories.special[0].url }}" class="btn btn-outline-light" type="button">
    {{ site.categories.special[0].special-action }}
  </a>
  {% endif %}
</div>

<div class="container landing" id="content">
  <div class="card mb-3" id="pep">
    <div class="card-body text-center">
      <h2>PeP et al. e.&#8239;V.</h2>
      <h4>Physikstudierende und ehemalige Physikstudierende der TU&nbsp;Dortmund</h4>
      <hr width="300px" class="mx-auto">
      <p>
        Sieh dir an wofür wir stehen.
        Unser <a href="{{'ueber_uns/satzung_und_leitbild.html' }}">Leitbild.</a>
      </p>
    </div>
  </div>

  {% for offset in (0..1) %}
  <div class="row">
    {% assign off = offset|times:2 %}
    {% for post in site.categories["special"] limit:2 offset:off %}
      <div class="col-12 col-md-6 mb-2">
        {% include post.html post=post %}
      </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="row mb-3">
    <div class="col-12 text-center">
      <a href="archive/index.html" class="btn btn-secondary">Alle Posts</a>
    </div>
  </div>
</div>
