<footer id="footer">
	<ul class="icons">
    <li><a href="{{ site.facebook_url }}" class="icon fa fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="{{ site.twitter_url }}" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="{{ site.github_urlfa  }}" class="icon fa fa-github"><span class="label">Github</span></a></li>
    <li><a href="{{ site.xing_url }}" class="icon fa fa-xing"><span class="label">Github</span></a></li>
	</ul>
	<ul class="copyright">
		<li>
      <a href="impressum.html">Impressum</a>
    </li>
    <li>
      &copy; PeP et al. e.V. All rights reserved.
    </li>
	</ul>
</footer>
