<nav class="navbar navbar-expand-md navbar-dark fixed-top{% if page.landing %} bg-faded nav-landing{% else %} bg-dark{% endif %}" id="pepNavContainer">
  <a class="navbar-brand" href="index.html">PeP et al. e.V.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pepNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="pepNavbar">
    <ul class="navbar-nav ml-auto">
      {% for navlink in site.data.navigation %}
      {% if navlink.submenu %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if page.url contains navlink.directory %}active{% endif %}" href="#" role="button" data-toggle="dropdown">
          {{ navlink.title }}
        </a>
        <div class="dropdown-menu">
          {% for sublink in navlink.submenu %}
          {% if sublink.subsubmenu and forloop.first == false %}
            <div class="dropdown-divider"></div>
          {% endif %}
          <a class="dropdown-item {% if page.url contains sublink.link %}active{% endif %}" href="{{ navlink.directory}}/{{ sublink.link }}">
            {{ sublink.title }}
          </a>
          {% for subsublink in sublink.subsubmenu %}
          <a class="dropdown-item {% if page.url contains subsublink.link %}active{% endif %}" href="{{ navlink.directory}}/{{ subsublink.link }}">
            &bull; {{ subsublink.title }}
          </a>
          {% endfor %}
          {% if sublink.subsubmenu and forloop.last == false %}
            <div class="dropdown-divider"></div>
          {% endif %}
          {% endfor %}
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link {% if page.url contains navlink.link %}active{% endif %}" href="{{ navlink.link }}">
          {{ navlink.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="nav-item">
        <a href="mitmachen.html" role="button" class="btn btn-outline-light">
          Mitmachen
        </a>
      </li>
    </ul>
  </div>
</nav>
