<div class="row post-footer">
  <div class="6u align-left">
    {{ post.date | date: "%d.%m.%y" }}
    {% if post.author %}
    von {{ post.author }}
    {% endif %}
  </div>
  <div class="6u align-right">
  {% for cat_index in post.categories %}
    {% assign category = site.data.categories[cat_index] %}
    {% if category.url %}
    {% if category.jump-to-id %}
      {% assign id_slug = post.id | replace: '/','-' | remove_first: '-' | prepend: '#' %}
    {% else %}
      {% assign id_slug = '' %}
    {% endif %}
    <a href="{{ category.url }}{{ id_slug }}">
      <span class="fa fa-{{ category.icon }}"></span>
    </a>
    {% else %}
    <span class="fa fa-{{ category.icon }}"></span>
    {% endif %}
  {% endfor %}
  </div>
</div>
