name: Build and Verify
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true

      - name: build
        run: bundle exec jekyll build

      - name: check output
        run: |
          bundle exec htmlproofer ./_site \
            --allow-hash-href \
            --checks Images Scripts Links\
            --only-4xx \
            --disable-external \
            --ignore-empty-alt true
